<h2>ACME - CLIENTS</h2>
<div class="grid grid-pad">
  <a *ngFor="let client of clients" [routerLink]="['/detail', client.id]" class="col-1-4">
    <div class="module">
      <h4>{{client.name}}</h4>
    </div>
  </a>
</div>
